<%= yield :nothing %>

<h1>CREATE A NEW ACCOUNT</h1>
<% if flash[:error] %>
<%= flash[:error] %>
<% end %>


<div class="circle"></div>

<%= form_with model: @user, local:true do |f| %>
<div class="signup">
    <%= f.text_field :username, :maxlength => 10, placeholder:'username', autocomplete:"off", class:"newuser" %>
    <%= f.text_field :email, placeholder:'email', class:"newemail" %>
    <%= f.password_field :password, placeholder:'password', class:"newemail" %>

    <%= f.submit%>
</div>

<% end %>