<%= yield :nothing %>


<% if flash[:error] %>
<%= flash[:error] %>
<% end %>


<div class="circle"></div>

<%= form_with model: @user, local:true do |f| %>
<div class="container signup">
    <div class="row">
        <h1 class="newacc">CREATE A NEW ACCOUNT</h1>
        <%= button_to 'already have an account?', root_path, class:"btn btn-outline-primary"%>
    </div>
    <div class="row">
    <%= f.text_field :username, :maxlength => 10, placeholder:'username', autocomplete:"off", class:"newuser" %>
    </div>
    <div class="row">
    <%= f.text_field :email, placeholder:'email', class:"newemail" %>
    </div>
    <div class="row">
    <%= f.password_field :password, placeholder:'password', class:"newemail" %>
    </div>
    <div class="row">
    <%= f.submit %>
    </div>
</div>

<% end %>