

<div class="profile-header">
<h1 class="user-page"><%= @userinfo.username%>'s profile</h1>

    <% if @userinfo.image == nil %>
    <% @userinfo.update! image: @userimg%>

    <% else %>
        <div class="profile-page-image">
            <%= cl_image_tag @userinfo.image %>
        </div>

    <% end %>

    <h2 class="user-post">Recent posts from this user:</h2>
<% if @current_user.present? %>
    <% if @current_user.id == @userinfo.id %>
        <%= button_to "preferences", edit_user_path(@current_user) %>
        <%# <%= button_to "user likes", user_like_path(@userinfo) %> 
    <% end %>

    <% end %>

<%# TURN THIS INTO A FORM!! %>
<% @userinfo.reviews.each do |r| %>
<div class="container">
        <div class="title">
            <p>
            <%= r.title %>
            </p>
        </div>
        <div class="user">
        <p>
            @<%= link_to r.user.username, user_path(r.user.id) %>
        </p>
        </div>
        <div class="content">
        <p>
            <%= r.rating %>
        </p>
        </div>
        <div class="create_time">
            <p>
            <%= r.created_at.strftime("%H:%M, %Y-%m-%d") %>
            </p>
        </div>

    <div class = "up">
        <% pre_like = r.likes.find { |like| like.user_id == @current_user.id} %>
        <% if pre_like %>
            <%= button_to 'Unlike', review_like_path(r.id, pre_like), method: :delete %>
        <% else %>
            <%= button_to 'Like', review_likes_path(r.id), method: :post %>
        <% end %>
    </div>

        <div class="count">
            <p>
            <%= r.likes.count %>
            </p>
        </div>
    <div class="edit">
    <% if @current_user.present? %>

        <% if @current_user.id == r.user.id%>
            <%= link_to "DELETE", review_path(r.id), method:'delete' %>
        <% end %>
    <% end %>
    </div>
</div>
<% end %>

</div>