
<%= link_to "COMPOSE", new_review_path %>
<%= link_to "LIST", new_list_path %>

<%# Sorted by latest %>
<% @reviews.each do |r| %>
<div class="container">
<%# <div class=".col-md-"></div> %>
        <div class="title">
            <p>
            <%= link_to r.title, review_path(r.id) %>
            </p>
        </div>
        <div class="user">
        <p>
            @<%= link_to r.user.username, user_path(r.user.id) %>
        </p>
        </div>
        <div class="content">
        <p>
            <%= r.rating %>
        </p>
         <% unless r.image == nil %>
        <div class="post-image">
            <%= cl_image_tag r.image %>
        </div>
        <% end %>
        </div>
        <div class="create_time">
            <p>
            <%= r.created_at.strftime("%H:%M, %Y-%m-%d") %>
            </p>
        </div>
    <div class = "up">
        <% pre_like = r.likes.find { |like| like.user_id == @current_user.id} %>
        <% if pre_like %>
        <%= button_to 'Unlike', review_like_path(r.id, pre_like), method: :delete %>
        <% else %>
        <%= button_to 'Like', review_likes_path(r.id), method: :post %>
        <% end %>
    </div>

        <div class="count">
            <p>
            <%= r.likes.count %> 
            </p>
        </div>
    <div class="edit">
        <% if @current_user.id == r.user.id%>
        <%= link_to "DELETE", review_path(r.id), method:'delete' %>
    <% end %>
    </div>
    <%# <div class=".col-md-"></div> %>
</div>
<% end %>

<% @lists.each do |r| %>

<div class="container">
        <div class="title">
            <p>
                <%= r.title %>
            </p>
        </div>
        <div class="user">
        <% if r.users.count > 1 %>
            <p>
            @<%= r.users.pluck(:username).first%>+<%= r.users.count.-(1) %>
            </p>
            <% else %>
            @<%= r.users.pluck(:username).join %>
            <% end %>
        </div>
        <div class="content">
        <% if r.reviews.count == 0 %>
          <p>this list is empty</p>
          <% else %>
            <p>
            this list contains:
            <%= r.reviews.pluck(:title).join ', ' %>
            </p>
        <% end %>
        </div>
        <div class="create_time">
            <p>
            published: 
            <%= r.created_at.strftime("%H:%M %Y-%m-%d") %>
            </p>
        </div>
        <div class="edit">
            <%= link_to "DELETE", list_path(r.id), method:'delete' %>
        </div>
</div>

<% end %>


