<div class="darkmode"></div>

<div class="commentblock">
    <div class="reviewblock">
        <div class="title">
            <p>
                <%= @review.title%>
            </p>
        </div>
        <div class="userimg">
            <%= cl_image_tag @review.user.image, width:'25'%>
        </div>
        <div class="user">
            <p>
                <%= link_to '@' + @review.user.username.to_s, user_path(@review.user.id) %>
            </p>
        </div>
        <div class="post-image">
            <%= cl_image_tag @review.image %>
        </div>

        <div class="content">
            <p>
                <%=@review.rating%>
            </p>
        </div>

        <div class = "up">
            <% pre_like = @review.likes.find { |like| like.user_id == @current_user.id} %>
            <% if pre_like %>
                <%= button_to 'â¤ï¸', review_like_path(@review.id, pre_like), method: :delete, class:"likebtn" %>
            <% else %>
                <%= button_to 'ðŸ¤', review_likes_path(@review.id), method: :post, class:"likebtn"%>
            <% end %>
            <p>
                <%= @review.likes.count %> 
            </p>
        </div>

        <div class="count">
            <p>
                <%= button_to 'ðŸ’¬', review_path(@review.id) %>
            </p>

            <p>
                <% unless @review.comments.count == nil %>
                    <%= @review.comments.count %>
                <% end %>
            </p>
        </div>

        <div class="create_time">
            <p>
                <%= @review.created_at.strftime("%H:%M, %Y-%m-%d") %>
            </p>
        </div>
    </div>
</div>

<% unless @review.comments == nil %>
    
    <% @review.comments.each do |e| %>

    <div class="comment">
    <p>
    <% @user = User.find_by! id: e.user_id %>

        <div class="col comment-user align-self-center">
            <%= link_to '@' + @user.username.to_s+':', user_path(@user.id) %>
        </div>

        <div class="col comment-reply align-self-center">
        <p>
            <%= e.reply %>
        </p>
        </div>
    </p>
    </div>
    
    <%# <%= link_to "DELETE", comment_path(e.id), method:'delete' %> 
    <% end %>

<% end %>

<%= form_with model: [@review, @review.comments.build], local:true do |f| %>
    <div class="container"> 
        <div class="row">
            <div class="comment-input">
                <%= f.text_area :reply, :maxlength => 140, placeholder:'write a reply' %>
            </div>
        </div>
        
        <div class="row">
            <%= f.submit 'submit', class:("commentsubmit") %>
        </div>
    </div>

<% end %>

  