<h1>this is showing <%= @review.title %></h1>

<h3>maybe add article field for reviews?</h3>


<h3>COMMENTS:</h3>

<% @review.comments.each do |e| %>

<h2>
<%= e.reply %>
</h2>

<% end %>

<%= form_with model: [@review, @review.comments.build], local:true do |f| %>

    <%= f.text_area :reply, :maxlength => 140, placeholder:'Write your reply' %>
    <%= f.submit %>

<% end %>