<div class="darkmode"></div>

<div class="reviewblock show">
    <div class="title">
<p>
        <%= @review.title %>
</p>
    </div>

    <%# <h3>maybe add article field for reviews?</h3> %>
    <div class="content">
    <p>
        <%=@review.rating%>
    </p>
    </div>
</div>




    <% unless @review.comments == nil %>
        
        
        
        <% @review.comments.each do |e| %>

        <div class="comment">
        <p>
        <% @user = User.find_by! id: e.user_id %>

            <div class="col comment-user align-self-center">
                <%= link_to '@' + @user.username.to_s+':', user_path(@user.id) %>
            </div>

            <div class="col comment-reply align-self-center">
            <p>
                <%= e.reply %>
            </p>
            </div>
        </p>
        </div>
        
        <%# <%= link_to "DELETE", comment_path(e.id), method:'delete' %> 
        <% end %>

    <% end %>

<%= form_with model: [@review, @review.comments.build], local:true do |f| %>
    <div class="container"> 
    <div class="row">
    <div class="comment-input">
        <%= f.text_area :reply, :maxlength => 140, placeholder:'write a reply' %>
    </div>
    </div>
    <div class="row">
    <%= f.submit 'commentsubmit', class:("commentsubmit") %>
    </div>
    </div>

<% end %>

  