<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <h1>Re:view-r</h1>

    <% if @current_user.present? %>
      welcome, <%= @current_user.username %>
      |
      <%= link_to 'LOGOUT', login_path, method: 'delete' %>

    <% else %>
      <%= link_to 'SIGN UP', '/does-not-exist-yet' %>

    <% end %>
    
    
    <%= yield %>
  </body>
</html>
