<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

  </head>

  <body>

<nav class="head">
<h1 class="blahblah">
  <%= link_to "Re:view-r", home_path %>
</h1>

    <% if @current_user.present? %>
<p class="user-stuff">
      @<%= link_to @current_user.username, user_path(@current_user.id) %>
      <% if @current_user.image == nil %>
        <% @current_user.update! image: @userimg%>
      <% else %>
        <%= link_to image_tag(@current_user.image, width:"25"), user_path(@current_user.id) %>
      <% end %>
      |
      <%= link_to 'LOGOUT', login_path, method: 'delete' %>
</p>

    <% else %>
      <%= link_to 'SIGN UP', users_new_path %>

    <% end %>
</nav>
    
    
    <%= yield %>
  </body>
</html>
